<script>
  $(function() {
    shareSelectedText('.share', {
      sanitize: true,
      buttons: ['twitter'],
      emailSubject: 'Quote!',
      emailPrependText: 'Enjoy this free quote: '
    });
  });
</script>

<div style="margin: 100px;"> Not sharable text! Please don't generate tooltip when hovering over me.
</div>

<div class="share" style="margin: 100px;">
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse pellentesque sagittis diam,
    et congue elit pellentesque sed. Suspendisse potenti. Praesent ut dignissim lorem, eget finibus dui.
    Donec pretium lorem est, a vestibulum ex interdum sed. Quisque tristique, est ac fringilla aliquam,
    velit felis fermentum lorem, non porttitor nisi ex ultricies nisi. Sed sed erat sed ligula faucibus
    volutpat vitae sit amet tellus. In non lorem nec nunc accumsan vestibulum.
  </p>

  <p>
    <em>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse pellentesque sagittis diam,
    et congue elit pellentesque sed. Suspendisse potenti. Praesent ut dignissim lorem, eget finibus dui.
    Donec pretium lorem est, a vestibulum ex interdum sed. Quisque tristique, est ac fringilla aliquam,
    velit felis fermentum lorem, non porttitor nisi ex ultricies nisi. Sed sed erat sed ligula faucibus
    volutpat vitae sit amet tellus. In non lorem nec nunc accumsan vestibulum.</em>
  </p>
</div>
